{% extends "index.html" %}

{% block virsraksts %}

<h1>Pievienot lapa</h1>

{% endblock %}

{% block saturs %}
<h1>Pievienot lapa</h1>

<form method="post">
    <input id="saitesinputs" type="url" name="saite" placeholder="https://piemers.lv" required>
    
    <select name="kategorijas">
        {% for x in kategorijas %}
            <option value="{{ x }}">{{ x }}</option>
        {% endfor %}
    </select>
    
    <input type="text" id="anotacija" name="anotacija" required>
    <input type="text" name="Autors" placeholder="Pievienotāja Vārds, Uzvārds" required>
    
    <input type="submit" value="Izvēlies joku">
</form>

<p>Lūdzu strādā pievienot</p>
{% endblock %}


